<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf8">
    <title><%= @title + ' | Naths' %></title>
    <link href="stylesheets/normalize.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="page-container">
      <div class="header">

      </div>

      <div class="sidebar">
        <div class="sidebar-item">
          <img src="images/newlogo.png" class="logo" alt="Nath's Logo">
        </div>
        <div class="sidebar-item">
          <a href="<%= url('/') %>"><span style="font-weight: bold; font-style: italic">PPPOSHY</span></a>
        </div>
        <div class="sidebar-item">
          <hr>
        </div>
        <div class="sidebar-item">
          <a href="<%= url('/works') %>">WORK</a>
        </div>
        <div class="sidebar-item">
          <a href="<%= url('/about') %>">ABOUT</a>
        </div>
        <div class="sidebar-item">
          <a href="<%= url('/contact') %>">CONTACT</a>
        </div>
        <div class="sidebar-item">
          <hr>
        </div>
        <div class="sidebar-item">
          <a href="<%= url('https://www.behance.net/ppposhy') %>">Behance</a>
        </div>
        <div class="sidebar-item">
          <a href="<%= url('http://instagram.com/ppposhy') %>">Instagram</a>
        </div>
        <div class="sidebar-item">
          <a href="<%= url('http://www.pinterest.com/ppposhy/') %>">Pinterest</a>
        </div>
        <div class="sidebar-item">
          <a href="<%= url('http://ppposhy.tumblr.com/') %>">Tumblr</a>
        </div>
      </div>

      <div class="content">
        <%= yield %>
      </div>

      <div class="footer">

      </div>
    </div>
  </body>
</html>
