<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf8">
    <title><%= @title + ' | Naths' %></title>
    <link href="stylesheets/normalize.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,400italic,300,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="page-container">
      <div class="header">

      </div>

      <div class="sidebar">
        <div class="sidebar-item">
          <img src="images/logo.png" class ="logo" alt="Nath's Logo">
          Naths Site + LOGO
        </div>
        <div class="sidebar-item">
          <a href="<%= url('/works') %>">WORKS</a>
        </div>
        <div class="sidebar-item">
          <a href="<%= url('/about') %>">ABOUT</a>
        </div>
        <div class="sidebar-item">
          <a href="<%= url('/contact') %>">CONTACT</a>
        </div>
        <div class="sidebar-item">
          ===========
        <div class="sidebar-item">
          <a href="<%= url('http://instagram.com/ppposhy') %>">@ppposhy</a>
        </div>
        <div class="sidebar-item">
          <a href="<%= url('http://ppposhy.tumblr.com/') %>">Tumblr</a>
        </div>
        <div class="sidebar-item">
          <a href="<%= url('https://www.behance.net/ppposhy') %>">Behance</a>
        </div>
        <div class="sidebar-item">
          <a href="<%= url('http://www.pinterest.com/ppposhy/') %>">Pininterest</a>
        </div>
        <div class="sidebar-item">
          <a href="<%= url('https://soundcloud.com/nath-poshyananda') %>">Soundcloud</a>
        </div>
      </div>

      <div class="content">
        <%= yield %>
      </div>

      <div class="footer">

      </div>
    </div>
  </body>
</html>
